table{
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre celdas */
}
th{
    background-image: url('../Imagenes/Encabezado.png'); /* Imagen de fondo del encabezado */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    width: 100%; /* Ajusta el ancho del encabezado */
    height: 40vh; /* Ajusta la altura del encabezado */
    text-align: center; /* Centra el texto dentro del encabezado */
    padding: 20px; /* Espaciado dentro del encabezado */
    position: relative; /* Necesario para la posición absoluta de la imagen */
    color: white;
}


.imagen-1 {
    position: absolute; /* Posiciona la imagen dentro del encabezado */
    top: 20px; /* Ajusta la distancia desde el borde superior */
    left: 20px; /* Ajusta la distancia desde el borde izquierdo */
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: 60px; /* Ajusta la altura de la imagen */ 
}
.table{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 10%;
    height: 40vh;
}
div{
    width: 25%;
    text-align: justify;
    font-size: 120%;
}
.imagen-php{
    position: absolute;
    top: 100%;
    left: 10%;

}
.imagen-js{
    position: absolute;
    top: 100%;
    left: 37%;
}
.imagen-python{
    position: absolute;
    top: 100%;
    left: 67%;
}
.imagen-ruby{
    position: absolute;
    top: 180%;
    left: 10%;
}
.imagen-java{
    position: absolute;
    top: 180%;
    left: 37%;
}
.imagen-c{
    position: absolute;
    top: 180%;
    left: 67%;

}
.imagen-asp{
    position: absolute;
    top: 250%;
    left: 10%;
}
.imagen-node{
    position: absolute;
    top: 250%;
    left: 51%;
}
a{
    position: absolute;
    top: 80%;
    left: 1%;
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border-radius: 20px;
}